In [3]:
my_list = [1, 2, 10,8, 9, 7, 3, 4, 5, 6]
first_element = my_list[0]
second_element = my_list[1]

In [4]:
print(first_element)
print(second_element)

1
2

In [5]:
sliced = my_list[1:4]
print(sliced)

[2, 10, 8]

In [6]:
mixed_list = [1 , 2, 'cat', 'dog', 4, 5.56, 'python', 'banks', 6, True]

In [7]:
mixed_list.append(False)
print(mixed_list)

[1, 2, 'cat', 'dog', 4, 5.56, 'python', 'banks', 6, True, False]

In [8]:
mixed_list.insert(3, ["Lamidi", 'Prince'])
print(mixed_list)

[1, 2, 'cat', ['Lamidi', 'Prince'], 'dog', 4, 5.56, 'python', 'banks', 6, True, False]

In [9]:
# mixed_list.remove('python')
# mixed_list.remove('testing')

In [10]:
print(mixed_list)

[1, 2, 'cat', ['Lamidi', 'Prince'], 'dog', 4, 5.56, 'python', 'banks', 6, True, False]

In [11]:
removed = mixed_list.pop(6) #remove element at index 6
print(removed)

5.56

In [12]:
print(mixed_list)

[1, 2, 'cat', ['Lamidi', 'Prince'], 'dog', 4, 'python', 'banks', 6, True, False]

In [13]:
removed_list = mixed_list.pop(3)
print(removed_list)

['Lamidi', 'Prince']

In [14]:
list_length = len(mixed_list)
print(list_length)

10

In [15]:
my_list = [1, 2, 10,8, 9, 7, 3, 4, 5, 6]
my_list.sort()

In [16]:
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
my_list.reverse()

In [18]:
print(mixed_list)

[1, 2, 'cat', 'dog', 4, 'python', 'banks', 6, True, False]

In [19]:
if 6 in mixed_list:
    print(True)
else:
    print(False)

True

In [20]:
combined_list = removed_list + mixed_list  # Concatenates two lists

In [21]:
print(combined_list)

['Lamidi', 'Prince', 1, 2, 'cat', 'dog', 4, 'python', 'banks', 6, True, False]

In [25]:
for i in my_list:
    print(i ** 2)

100
81
64
49
36
25
16
9
4
1

In [37]:
empty_list = []
for item in my_list:
    if item % 2 == 0:
        empty_list.append(item)

In [38]:
print(empty_list)

[10, 8, 6, 4, 2]

In [34]:
empty_list = []
for item in range(3,15):
    if item % 2 == 0:
        empty_list.append(item)

range(3, 15)

In [45]:
number_list = [1,2,3,4,5]
for number in range(6,101):
    number_list.append(number)

In [46]:
print(number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [55]:
even_number = []
odd_number = []
for number in number_list:
    if number % 2 == 0:
        even_number.insert(0, number)
    else:
        odd_number.append(number )

In [56]:
print(len(even_number))
print(len(odd_number))

50
50

In [57]:
fruits = ["apple", "banana"]
fruits.append("cherry")  # Adds "cherry" to the end

In [58]:
print(fruits)

['apple', 'banana', 'cherry']

In [61]:
fruits.insert(1, "kiwi")
print(fruits)

['apple', 'kiwi', 'kiwi', 'kiwi', 'banana', 'cherry']

In [66]:
# fruits.remove('kiwi')
print(fruits)

['apple', 'banana', 'cherry']

In [67]:
fruits.pop(0)

'apple'

In [68]:
len(fruits)

2

In [69]:
len(number_list)

100

In [70]:
numbers = [5, 2, 8, 1]
numbers.sort()  # Sorts the list in ascending order

In [71]:
print(numbers)

[1, 2, 5, 8]

In [74]:
fruits.sort()
print(fruits)

['banana', 'cherry']

In [76]:
num = [3,4,6,7,12,13,25]

num.append(100)

In [77]:
num.sort().reverse()

AttributeError: 'NoneType' object has no attribute 'reverse'